.page-project-new {
  &-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: $white;

    &--gray {
        background: $gray6;
    }

    &__title {
        color: $gray4;
        font-weight: 500;
        font-size: 1.5rem;
    }
    &-sgrid {
      width: 100%;
      display: flex;
      &-secondcol {
        margin-left: 8.125rem;
        width: 50%;
        &-text {
          margin-top: 1rem;
          width: 100%;
          border-radius: 4px;
          background-color: $gray6;
          padding: 0.9rem;
          &-field {
              border-radius: 4px;
              display: flex;
              &-input {
                  resize: none;
                  width: 100%;
                  min-height: 12.5rem;
                  padding: 0.1rem;
                  background-color:$gray6;
                  border: none;
                  font-style: normal;
                  font-size: 16px;
                  line-height: 100%;
                  color: #4f4f4f;
              }
          }
        }
        &-sfield {
          display: flex;
          &-email {
            width: 50%;
            margin-right: 1rem;
            border-radius: 4px;
            background-color: $gray6;
            padding: 0.9rem;
            &-field {
                border-radius: 4px;
                display: flex;
                &-input {
                    width: 100%;
                    padding: 0.1rem;
                    background-color:$gray6;
                    border: none;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 100%;
                    color: $gray2;
                }
            }
          }
          &-telegram {
            width: 50%;
            border-radius: 4px;
            background-color: $gray6;
            padding: 0.9rem;
            &-field {
                border-radius: 4px;
                display: flex;
                &-input {
                    width: 100%;
                    padding: 0.1rem;
                    background-color:$gray6;
                    border: none;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 100%;
                    color: $gray2;
                }
            }
          }
        }
      }
      &-firstcol {
        width: 50%;
        &__text {
          color: $gray2;
          line-height: 1.5rem;
      }
        &__subtitle {
          width: 80%;
          color: $gray1;
          font-weight: 700;
          font-size: 2.5rem;
          margin-bottom: 3rem;
      }
      }
    }
  }
}

@media only screen and (max-width: 1740px) {
  .page-project-new {
    &-section {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background: $white;
      &-sgrid {
        &-firstcol {
          &__subtitle {
            font-size: 2rem;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .page-project-new {
    &-section {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background: $white;
      &-sgrid {
        &-firstcol {
          &__subtitle {
            font-size: 1.8rem;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1130px) {
  .page-project-new {
    &-section {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background: $white;
      &-sgrid {
        display: block;
        &-firstcol {
          width: 100%;
          &__subtitle {
            font-size: 2.5rem;
            margin-top: 1rem;
          }
        }
        &-secondcol {
          margin-top: 2rem;
          margin-left: 0rem;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .page-project-new {
    &-section {
      padding-top: 5rem;
      padding-bottom: 5rem;
      background: $white;
      &-sgrid {
        display: block;
        &-firstcol {
          width: 100%;
          &__subtitle {
            font-size: 1.5rem;
            margin-top: 1rem;
          }
        }
        &-secondcol {
          margin-top: 2rem;
          margin-left: 0rem;
          width: 100%;
        }
      }
    }
  }
}