.page-donat {
  &-section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background: $white;

    &--gray {
      background: $gray6;
    }

    &__title {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      display: flex;
      align-items: center;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $gray4;
    }

    &__subtitle {
      width: 80%;
      margin-bottom: 3rem;
      font-family: Inter;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 140%;
      letter-spacing: -0.02em;
    }
  }

  &-stat {
    display: flex;
    justify-content: space-between;

    &-item {
      text-align: center;

      &__value {
        letter-spacing: -2px;
        color: $gray1;
        font-size: 3rem;
        font-weight: 700;
        margin: 0 0 1rem 0;
        padding: 0 0.7rem;
        white-space: nowrap;
      }

      &__report {
        color: $green;
      }

      &__description {
        color: $gray2;
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
      }
    }

    &-report {
      cursor: pointer;
      margin-left: 8rem;
    }
  }

  &-paymentsistems {
    display: flex;
    justify-content: space-between;
    &-item {
      min-width: 300px;
      width: 32%;
      background: url("../images/Frame-background-payment-sistems.png") no-repeat
        center;
      border-radius: 12px;
      padding: 1.25rem 2.5rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      &__maincontent {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1.5rem;
        &_img {
          height: 6.25rem;
          padding: 0.75rem 10rem;
        }
        &_title {
          font-family: Inter;
          font-style: normal;
          font-weight: 800;
          font-size: 40px;
          line-height: 140%;
          text-align: center;
          letter-spacing: -0.02em;
          color: $white;
        }
      }
      &__description {
        cursor: pointer;
        width: 90%;
        text-decoration: none;
        text-align: right;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 180%;
        text-align: right;
        letter-spacing: -0.02em;
        color: $white;

        span {
          background: url("../images/list-marker.svg");
        }
      }
    }
  }

  &-donate {
    &-list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      &__col {
        max-width: 50%;
        width: 100%;

        & + & {
          margin-left: 1rem;
        }
      }
    }

    &-item {
      background: $gray6;
      padding: 2rem;
      margin: 1rem 0;

      &__text {
        margin-bottom: 2.5rem;
        line-height: 1.5rem;
      }

      &__cost {
        color: $green;
        font-weight: 700;
      }

      &__date {
        color: $gray4;
        float: right;
      }
    }

    &__action {
      display: inline;
    }
  }
  &-downloadmore {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    &__btn {
      cursor: pointer;
      width: 11rem;
      height: 4rem;
      background-color: $green;
      border-radius: 6px;
      text-align: center;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      color: $green-dark;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .page-donat {
    &-section {
      &__subtitle {
        font-size: 2rem;
        margin-top: 1rem;
      }
    }

    &-stat {
      flex-wrap: wrap;
      justify-content: center;

      &-item {
        min-width: 20%;
        margin-bottom: 2rem;

        &__value {
          font-size: 2.5rem;
          margin-bottom: 0.5rem;
        }
      }

      &-report {
        margin-left: 0;
      }
    }

    &-donate {
      &-list {
        flex-direction: column;

        &__col {
          max-width: 100%;

          & + & {
            margin-left: 0rem;
          }
        }
      }

      &-item {
        &__text {
          margin-bottom: 2.5rem;
          line-height: 1.5rem;
        }

        &__cost {
          color: $green;
          font-weight: 700;
        }

        &__date {
          color: $gray4;
        }
      }

      &__action {
        display: inline;
      }
    }

    &-paymentsistems {
      flex-wrap: wrap;
      justify-content: center;
      &-item {
        min-width: 25rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  .page-donat {
    &-section {
      padding-top: 2rem;
      padding-bottom: 2rem;

      &__subtitle {
        width: 100%;
        font-size: 1.8rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .page-donat {
    &-section {
      &__subtitle {
        font-size: 1.5rem;
      }
    }

    &-stat {
      &-item {
        flex-direction: column;
        width: 100%;
      }
    }

    &-paymentsistems {
      flex-direction: column;
      width: 100%;
    }
  }
}
