.page-main {
    &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url(../images/contentHeaderBg.png) no-repeat;
        background-size: cover;
        height: 100%;
        min-height: calc(100vh - #{$nav-height});
        padding-top: 2rem;
        padding-bottom: 2rem;

        &__title {
            font-style: normal;
            font-weight: 800;
            font-size: 4.5rem;
            line-height: 5rem;
            letter-spacing: -0.02em;
            color: $white;
            margin-bottom: 1.5rem;
        }

        &-row {
            display: flex;
        }

        &-col {
            &-1 {
                display: flex;
                flex-direction: column;
                flex-basis: 75%;

                &__subtitle {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 2.2rem;
                    line-height: 160%;
                    color: $white;
                    margin-bottom: 6rem;
                }

                &__actions {
                    display: flex;
                    justify-content: flex-start;

                    .btn+.btn {
                        margin-left: 32px;
                    }
                }
            }

            &-2 {
                display: flex;
                justify-content: center;
                flex-basis: 25%;
                align-items: center;

                &__watch {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    #play-video {
                        display: inherit;
                        justify-content: center;
                        align-items: center;
                        width: 10rem;
                        height: 10rem;
                        padding: 2.8rem;

                        &::after {
                            display: block;
                            content: '';
                            background: url(../images/play.svg) no-repeat center center;
                            background-size: contain;
                            width: 100%;
                            height: 100%;
                            margin-left: 14px;
                        }
                    }

                    .play-video-btn-label {
                        font-weight: 800;
                        font-style: normal;
                        font-size: 18px;
                        letter-spacing: 0.02em;
                        text-transform: uppercase;
                        color: $gray6;
                        text-align: center;
                        opacity: 0.9;
                        margin-top: 40px;
                    }
                }
            }
        }
    }

    &-section {
        padding-top: 5rem;
        padding-bottom: 5rem;
        background: $white;

        &--gray {
            background: $gray6;
        }

        &__title {
            color: $gray4;
            font-weight: 500;
            font-size: 1.5rem;
        }

        &__subtitle {
            width: 80%;
            color: $gray1;
            font-weight: 700;
            font-size: 3rem;
            margin-bottom: 3rem;
        }
    }

    &-about {
        &-content {
            display: flex;
            justify-content: space-between;

            &-block {
                margin-bottom: 2rem;

                &__wrapper {
                    width: 44%;
                }

                &__title {
                    color: $gray1;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;

                    span {
                        color: $gray4;
                    }
                }

                &__text {
                    color: $gray2;
                    line-height: 1.5rem;
                }
            }
        }
    }

    &-projects {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__all {
            display: block;
            text-align: right;
            color: $gray1;
            text-decoration: none;
        }

        &-item {
            min-width: 300px;
            width: 32%;
            margin-bottom: 2rem;
            box-shadow: 0px 4px 3px #ededed;

            &__wrapper {
                padding: 1.6rem;
                background: $white;
            }

            &__img {
                width: 100%;
                background-size: cover;
            }

            &__title {
                font-size: 1.3rem;
                color: $gray1;
                margin-bottom: 1rem;
            }

            &__text {
                color: $gray2;
                line-height: 1.5rem;
                margin-bottom: 1rem;
            }

            &__link {
                color: $gray4;
                text-decoration: none;
                display: block;
                text-align: right;
                font-size: 0.9rem;
            }
        }
    }

    &-stat {
        display: flex;
        justify-content: space-between;

        &-item {
            text-align: center;

            &__value {
                letter-spacing: -2px;
                color: $gray1;
                font-size: 3rem;
                font-weight: 700;
                margin: 0 0 1rem 0;
                padding: 0 0.7rem;
                white-space: nowrap;
            }

            &__description {
                color: $gray2;
                font-size: 1rem;
                font-weight: 500;
                margin: 0;
            }
        }
    }

    &-donate {
        &-list {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            &__col {
                max-width: 50%;
                width: 100%;

                &+& {
                    margin-left: 1rem;
                }
            }
        }

        &-item {
            background: $gray6;
            padding: 2rem;
            margin: 1rem 0;

            &__text {
                margin-bottom: 2.5rem;
                line-height: 1.5rem;
            }

            &__cost {
                color: $green;
                font-weight: 700;
            }

            &__date {
                color: $gray4;
                float: right;
            }
        }

        &__action {
            display: inline;
        }
    }

    &-contributors {
        &-list {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            &-col {
                max-width: 50%;
                width: 100%;

                &+& {
                    margin-left: 1rem;
                }
            }
        }

        &-item {
            padding: 1.8rem;
            background: $white;
            margin-bottom: 1rem;

            &-stack {
                &__title {
                    color: $gray4;
                    margin-bottom: 4px;
                }

                &__value {
                    line-height: 1.5rem;
                }
            }

            &-info {
                &__wrapper {
                    display: flex;
                    margin-bottom: 2rem;
                    align-items: center;
                }

                &__avatar {
                    margin-right: 1.8rem;
                    width: 4rem;
                    height: 4rem;
                }

                &__name {
                    color: $gray1;
                    font-size: 1.5rem;
                    font-weight: 700;
                }

                &__status {
                    color: $gray3;
                    margin-top: 4px;

                    &--owner {
                        color: $green;
                        &::before {
                            content: '';
                            display: inline-block;
                            margin-right: 0.3rem;
                            background: url('../images/cont_owner.svg') center center no-repeat;
                            width: 1rem;
                            height: 1rem;
                            background-size: contain;
                        }
                    }

                    &--sponsor {
                        color: $orange;
                        &::before {
                            content: '';
                            display: inline-block;
                            margin-right: 0.3rem;
                            background: url('../images/cont_sponsor.svg') center center no-repeat;
                            background-size: contain;
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    .page-main {
        &-header {
            &__title {
                font-size: 3.5rem;
                line-height: 5rem;
            }
        }

        &-section {
            &__subtitle {
                font-size: 2rem;
                margin-top: 1rem;
            }
        }

        &-stat {
            flex-wrap: wrap;
            justify-content: center;

            &-item {
                min-width: 20%;
                margin-bottom: 2rem;

                &__value {
                    font-size: 2.5rem;
                    margin-bottom: 0.5rem;
                }
            }
        }

        &-donate {
            &-list {
                flex-direction: column;

                &__col {
                    max-width: 100%;

                    &+& {
                        margin-left: 0rem;
                    }
                }
            }

            &-item {
                &__text {
                    margin-bottom: 2.5rem;
                    line-height: 1.5rem;
                }

                &__cost {
                    color: $green;
                    font-weight: 700;
                }

                &__date {
                    color: $gray4;
                }
            }

            &__action {
                display: inline;
            }
        }

        &-contributors {
            &-list {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin-bottom: 1rem;

                &-col {
                    max-width: 100%;

                    &+& {
                        margin-left: 0rem;
                    }
                }
            }

            &-item {
                &-info {
                    &__avatar {
                        width: 3rem;
                        height: 3rem;
                    }

                    &__name {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    .page-main {
        &-header {
            min-height: calc(100vh - #{$nav-height-mb});

            &__title {
                font-size: 2.8rem;
                line-height: 4rem;
            }

            &-row {
                flex-direction: column;


            }

            &-col {
                &-1 {
                    &__subtitle {
                        font-size: 1.5rem;
                        margin-bottom: 1.8rem;
                    }

                    &__actions {
                        justify-content: center;
                        margin-bottom: 5rem;
                    }
                }
            }
        }

        &-section {
            padding-top: 2rem;
            padding-bottom: 2rem;

            &__subtitle {
                width: 100%;
                font-size: 1.8rem;
            }
        }

        &-about {
            &-content {
                flex-direction: column;
                align-items: center;

                &-block {
                    &__wrapper {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .page-main {
        &-header {
            &__title {
                font-size: 2rem;
                line-height: 150%;
            }

            &-col {
                &-1 {
                    &__subtitle {
                        font-size: 1.3rem;
                        margin-bottom: 1.5rem;
                    }

                    &__actions {
                        margin-bottom: 3rem;
                    }
                }

                &-2 {
                    &__watch {
                        #play-video {
                            width: 5rem;
                            height: 5rem;
                            padding: 1.4rem;

                            &::after {
                                margin-left: 7px;
                            }
                        }
                    }
                }
            }
        }

        &-section {
            &__subtitle {
                font-size: 1.5rem;
            }
        }

        &-about {
            &-content {
                &-block {
                    &__title {
                        font-size: 1rem;
                    }

                    &__text {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        &-stat {
            &-item {
                flex-direction: column;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .page-main {
        &-header {
            &__title {
                font-size: 1.5rem;
                line-height: 150%;
            }

            &-col {
                &-1 {
                    &__subtitle {
                        font-size: 1rem;
                        margin-bottom: 1.2rem;
                    }

                    &__actions {
                        flex-direction: column;
                        margin-bottom: 2rem;

                        .btn {
                            width: 70%;
                            margin: 0.8rem auto !important;
                        }
                    }
                }
            }
        }
    }
}