.page-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - #{$nav-height});
  height: 100%;
  padding: 3rem 0;

  &__content {
    max-width: 30rem;
    width: 100%;
    padding: 0 1rem;
  }

  &-selector {
    margin-bottom: 2rem;
    display: flex;

    &__item {
      display: block;
      width: 50%;
      padding: 0.6rem;
      text-align: center;
      font-weight: 800;
      font-size: 1.5rem;
      color: $gray4;
      overflow-wrap: break-word;
      border-bottom: 3px solid $gray6;

      &.active {
        color: $green-dark;
        border-bottom: 3px solid $green;
      }
    }
  }

  &__auth-form {
    .input-field {
      margin-top: 1rem;
    }
  }

  &__error {
    text-align: center;
    margin-top: 1rem;
    color: $red
  }

  &~.footer {
    display: none;
  }

  input[type='submit'] {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 652px) {
  .page-auth {
    &-selector {
      &__item {
        font-size: 1.2rem;
      }
    }

  }
}

@media only screen and (max-width: 652px) {
  .page-auth {
    &-selector {
      &__item {
        font-size: 1rem;
      }
    }

  }
}
